@media screen and (min-width: 600px) and (max-width: 768px) {
    #logo {
        width: 160px;
        text-align: left;
        padding: 10px 20px;
        padding-right: 0;
        font-size: 16px;
    }

    #logo:hover {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.351);
    }

    span {
        position: relative;
        display: none;
    }

    #menu {
        display: none;
    }
    
    #itens {
        background-color: transparent;
        position: absolute;
        top: 4px;
        left: unset;
        right: 30px;
        display: inline-block;
        z-index: 2;
    }

    ul li {
        display: inline-block;
        list-style: none;
        border: none;
    }

    .barra-bottom:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid rgb(0, 255, 234);
    }

    .barra-bottom {
        transform: .3;
    }
    
    .barra-bottom:hover {
        transform: scale(1.1);
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .social-icon {
        display: none;   
    }

    #container1 {
        width: 500px;
    }

    .paragrafo {
        font-size: 24px;
        width: 350px;
    }

    .avatar {
        width: 140px;
    }

    .page1-2 {
        background-color: #0c192c;
    }
    
    .container-sobre-min1-2 {
        position: relative;
        width: 90%;
        height: 85%;
        margin: auto;
        padding-top: 80px;
    }
    
    .container-animation-bolhas {
        position: absolute;
        width: 98.5vw;
        height: 100vh;
        background-color: transparent;
        z-index: -1;
        overflow: hidden;
    }
    
    .anumation-bolhas {
        display: block;
    }
    
    .bolhas {
        position: absolute;
        display: flex;
    }
    
    .bolhas .anumation-bolhas {
        width: 30px;
        height: 30px;
        background-color: #77ff00;
        margin: 20px 4px 0px 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #e5ff0044,
        0 0 50px #77ff00,
        0 0 100px #77ff00
        ;
        animation: animar calc(150s / var(--i)) linear infinite;
    }
    
    .bolhas .anumation-bolhas:nth-of-type(even) {
        background-color: #2dc3ff;
        box-shadow: 0 0 0 10px #2dc3ff44,
        0 0 50px #2dc3ff,
        0 0 100px #2dc3ff
        ;
    }
    
    .card-interativo {
        background-color: rgba(0, 0, 0, 0.224);
        padding: 15px;
    }
    
    .nome-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .cargo-do-dev {
        text-align: center;
        font-weight: 300;
    }
    
    .idade-do-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .img-foto {
        width: 50%;
        height: 280px;
        margin: auto;
        text-align: center;
        background-color: rgba(127, 255, 212, 0.493);
        float: left;
    }
    
    .foto-do-sobre-min {
        width: 100px;
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .card-img {
        display: inline-block;
        width: 100px;
        margin: auto;
    }
    
    .card-infomacao {
        width: 50%;
        height: 280px;
        margin: auto;
        background-color: transparent;
        background-color: rgba(245, 245, 220, 0.491);
        margin-bottom: 0;
        padding: 0px 0px;
        float: right;
    }
    
    .um-pouco-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .continua-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .container2 {
        width: 500px;
    }

    .paragrafo-sobre-tec {
        text-align: center;
    }

    .container-tecnologias {
        width: 300px;
        margin: auto;
        margin-top: 40px;
        gap: 20px;
    }

    .minha-tec {
        font-size: 32px;
    }

    .paragrafo-sobre-tec {
        font-size: 24px;
    }

    .icon-tec {
        width: 40px;
        height: 40px;
    }

    .title-projects {
        font-size: 25px;
        padding-top: 50px;
    }

    .paragrafo-sobre-projects {
        font-size: 16px;
    }

    #container3 {
        width: 600px;
        height: 600px;
        padding-top: 20px;
    }

    .cont-itens {
        position: relative;
        width: 150px;
        height: 200px;
    }

    .cont-img-capa {
        width: 147px;
    }

    .text-title-card {
        font-size: 16px;
    }

    .text-font {
        font-size: 12px;
        padding-top: 5px;
    }

    .tecnologias-usadas {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50px);
        font-size: 9px;
    }

    a {
        font-size: 10px;
    }

    .icon-live-preview {
        position: absolute;
        left: 3px;
        bottom: 8px;
    }

    .icon-live-code {
        position: absolute;
        right: 3px;
        bottom: 8px;
    }

    .icon-live-preview::before {
        content: url("../assets/icon-github-fill-dark.svg");
        width: 18px;
    }

    .icon-live-code::before {
        content: url(../assets/icon-link-dark.svg);
        position: absolute;
        bottom: 0;
        left: -10px;
    }

    .cont-img-capa2 {
        width: 147px;
    }
    
    .cont-img-capa3 {
        width: 147px;
    }
    
    .cont-img-capa4 {
        width: 147px;
    }
    
    .cont-img-capa5 {
        width: 147px;
    }
    
    .cont-img-capa6 {
        width: 147px;
    }

    @keyframes animar {
        0% {
            transform: translatey(100vh) scale(0);
        }
        100% {
            transform: translatey(-10vh) scale(1);
        }
    }
}

@media screen and (min-width:  768px) and (max-width: 992px) {
    #logo {
        width: 160px;
        text-align: left;
        padding: 10px 20px;
        padding-right: 0;
        font-size: 16px;
    }

    #logo:hover {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.351);
    }

    span {
        position: relative;
        display: none;
    }

    #menu {
        display: none;
    }
    
    #itens {
        background-color: transparent;
        position: absolute;
        top: 4px;
        left: unset;
        right: 30px;
        display: inline-block;
        z-index: 2;
    }

    .barra-bottom {
        transform: .3;
    }

    ul li {
        display: inline-block;
        list-style: none;
        border: none;
    }

    .barra-bottom:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid rgb(0, 255, 234);
        transform: scale(1.1);
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .social-icon {
        display: none;   
    }

    #container1 {
        width: 650px;
    }

    .paragrafo {
        font-size: 30px;
        width: 450px;
    }

    .avatar {
        width: 140px;
    }

    .page1-2 {
        background-color: #0c192c;
    }
    
    .container-sobre-min1-2 {
        position: relative;
        width: 90%;
        height: 85%;
        margin: auto;
        padding-top: 150px;
    }
    
    .container-animation-bolhas {
        position: absolute;
        width: 98.5vw;
        height: 100vh;
        background-color: transparent;
        z-index: -1;
        overflow: hidden;
    }
    
    .anumation-bolhas {
        display: block;
    }
    
    .bolhas {
        position: absolute;
        display: flex;
    }
    
    .bolhas .anumation-bolhas {
        width: 30px;
        height: 30px;
        background-color: #77ff00;
        margin: 20px 4px 0px 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #e5ff0044,
        0 0 50px #77ff00,
        0 0 100px #77ff00
        ;
        animation: animar calc(150s / var(--i)) linear infinite;
    }
    
    .bolhas .anumation-bolhas:nth-of-type(even) {
        background-color: #2dc3ff;
        box-shadow: 0 0 0 10px #2dc3ff44,
        0 0 50px #2dc3ff,
        0 0 100px #2dc3ff
        ;
    }
    
    .card-interativo {
        background-color: rgba(0, 0, 0, 0.224);
        padding: 15px;
    }
    
    .nome-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .cargo-do-dev {
        text-align: center;
        font-weight: 300;
    }
    
    .idade-do-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .img-foto {
        width: 50%;
        height: 280px;
        margin: auto;
        text-align: center;
        background-color: rgba(127, 255, 212, 0.493);
         float: left;
    }
    
    .foto-do-sobre-min {
        width: 100px;
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .card-img {
        display: inline-block;
        width: 100px;
        margin: auto;
    }
    
    .card-infomacao {
        width: 50%;
        height: 280px;
        margin: auto;
        background-color: transparent;
        background-color: rgba(245, 245, 220, 0.491);
        margin-bottom: 0;
        padding: 0px 0px;
        float: right;
    }
    
    .um-pouco-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .continua-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .container2 {
        width: 500px;
    }

    .paragrafo-sobre-tec {
        text-align: center;
    }

    .container-tecnologias {
        width: 400px;
        margin: auto;
        margin-top: 40px;
        gap: 40px;
    }

    .minha-tec {
        font-size: 24px;
    }

    .paragrafo-sobre-tec {
        font-size: 16px;
    }

    .icon-tec {
        width: 40px;
        height: 40px;
    }

    #container3 {
        width: 600px;
        height: 600px;
    }

    .cont-itens {
        position: relative;
        width: 150px;
        height: 200px;
    }

    .cont-img-capa {
        width: 147px;
    }

    .text-title-card {
        font-size: 16px;
    }

    .text-font {
        font-size: 12px;
        padding-top: 5px;
    }

    .tecnologias-usadas {
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translate(-50%);
        text-align: center;
        font-size: 9px;
        padding-top: 7px;
    }

    a {
        font-size: 10px;
    }

    .icon-live-preview {
        position: absolute;
        left: 3px;
        bottom: 8px;
    }

    .icon-live-code {
        position: absolute;
        right: 3px;
        bottom: 8px;
    }

    .icon-live-preview::before {
        content: url("../assets/icon-github-fill-dark.svg");
        width: 18px;
    }

    .icon-live-code::before {
        content: url(../assets/icon-link-dark.svg);
        position: absolute;
        bottom: 0;
        left: -10px;
    }

    .cont-img-capa2 {
        width: 147px;
    }
    
    .cont-img-capa3 {
        width: 147px;
    }
    
    .cont-img-capa4 {
        width: 147px;
    }
    
    .cont-img-capa5 {
        width: 147px;
    }
    
    .cont-img-capa6 {
        width: 147px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    #logo {
        width: 160px;
        text-align: left;
        padding: 10px 20px;
        padding-right: 0;
        font-size: 16px;
    }

    #logo:hover {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.351);
    }

    span {
        position: relative;
        display: none;
    }

    #menu {
        display: none;
    }
    
    #itens {
        background-color: transparent;
        position: absolute;
        top: 4px;
        left: unset;
        right: 30px;
        display: inline-block;
        z-index: 2;
    }

    ul li {
        display: inline-block;
        list-style: none;
        border: none;
    }

    .barra-bottom:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid rgb(0, 255, 234);
        transform: scale(1.1);
    }

    .barra-bottom {
        transform: .3;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .social-icon {
        display: none;   
    }

    #container1 {
        width: 700px;
    }

    .paragrafo {
        font-size: 32px;
        width: 450px;
    }

    .avatar {
        width: 140px;
    }

    .page1-2 {
        background-color: #0c192c;
    }
    
    .container-sobre-min1-2 {
        position: relative;
        width: 90%;
        height: 85%;
        margin: auto;
        padding-top: 150px;
    }
    
    .container-animation-bolhas {
        position: absolute;
        width: 98.5vw;
        height: 100vh;
        background-color: transparent;
        z-index: -1;
        overflow: hidden;
    }
    
    .anumation-bolhas {
        display: block;
    }
    
    .bolhas {
        position: absolute;
        display: flex;
    }
    
    .bolhas .anumation-bolhas {
        width: 30px;
        height: 30px;
        background-color: #77ff00;
        margin: 20px 4px 0px 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #e5ff0044,
        0 0 50px #77ff00,
        0 0 100px #77ff00
        ;
        animation: animar calc(150s / var(--i)) linear infinite;
    }
    
    .bolhas .anumation-bolhas:nth-of-type(even) {
        background-color: #2dc3ff;
        box-shadow: 0 0 0 10px #2dc3ff44,
        0 0 50px #2dc3ff,
        0 0 100px #2dc3ff
        ;
    }
    
    .card-interativo {
        background-color: rgba(0, 0, 0, 0.224);
        padding: 15px;
    }
    
    .nome-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .cargo-do-dev {
        text-align: center;
        font-weight: 300;
    }
    
    .idade-do-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .img-foto {
        width: 50%;
        height: 280px;
        margin: auto;
        text-align: center;
        background-color: rgba(127, 255, 212, 0.493);
        float: left;
    }
    
    .foto-do-sobre-min {
        width: 100px;
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .card-img {
        display: inline-block;
        width: 100px;
        margin: auto;
    }
    
    .card-infomacao {
        width: 50%;
        height: 280px;
        margin: auto;
        background-color: transparent;
        background-color: rgba(245, 245, 220, 0.491);
        margin-bottom: 0;
        padding: 0px 0px;
        float: right;
    }
    
    .um-pouco-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .continua-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .container2 {
        width: 500px;
    }

    .paragrafo-sobre-tec {
        text-align: center;
    }

    .container-tecnologias {
        width: 500px;
        margin: auto;
        margin-top: 40px;
        gap: 40px;
    }

    .minha-tec {
        font-size: 24px;
    }

    .paragrafo-sobre-tec {
        font-size: 16px;
    }

    .icon-tec {
        width: 40px;
        height: 40px;
    }

    #container3 {
        width: 100vw;
        height: 100vh;
    }

    .cont-itens {
        position: relative;
        width: 200px;
        height: 250px;
    }

    .cont-img-capa {
        width: 197px;
        height: 80px;
    }

    .text-title-card {
        font-size: 18px;
    }

    .text-font {
        font-size: 12px;
        padding-top: 5px;
    }

    .tecnologias-usadas {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-60%);
        text-align: center;
        font-size: 12px;
        padding-top: 7px;

    }

    a {
        font-size: 12px;
    }

    .icon-live-preview {
        position: absolute;
        left: 10px;
        bottom: 8px;
    }

    .icon-live-code {
        position: absolute;
        right: 10px;
        bottom: 8px;
    }

    .icon-live-preview::before {
        content: url("../assets/icon-github-fill-dark.svg");
    }

    .icon-live-code::before {
        content: url(../assets/icon-link-dark.svg);
        position: absolute;
        bottom: 0;
        left: -10px;
    }

    .cont-img-capa2 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa3 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa4 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa5 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa6 {
        width: 197px;
        height: 100px;
    }

}

@media screen and (min-width: 1200px) {
    #logo {
        width: 160px;
        text-align: left;
        padding: 10px 20px;
        padding-right: 0;
        font-size: 16px;
    }

    #logo:hover {
        text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.351);
    }

    span {
        position: relative;
        display: none;
    }

    #menu {
        display: none;
    }
    
    #itens {
        background-color: transparent;
        position: absolute;
        top: 4px;
        left: unset;
        right: 30px;
        display: inline-block;
        z-index: 2;
    }

    ul li {
        display: inline-block;
        list-style: none;
        border: none;
    }

    .barra-bottom:hover {
        padding-bottom: 2px;
        border-bottom: 2px solid rgb(0, 255, 234);
        transform: scale(1.1);
    }

    .barra-bottom {
        transform: .3;
    }

    a {
        text-decoration: none;
        color: white;
        font-weight: bolder;
    }

    .social-icon {
        display: none;   
    }

    #container1 {
        width: 700px;
    }

    .paragrafo {
        font-size: 32px;
        width: 450px;
    }

    .avatar {
        width: 140px;
    }

    .page1-2 {
        background-color: #0c192c;
    }
    
    .container-sobre-min1-2 {
        position: relative;
        width: 90%;
        height: 85%;
        margin: auto;
        padding-top: 150px;
    }
    
    .container-animation-bolhas {
        position: absolute;
        width: 98vw;
        height: 100vh;
        background-color: transparent;
        z-index: -1;
        overflow: hidden;
    }
    
    .anumation-bolhas {
        display: block;
    }
    
    .bolhas {
        position: absolute;
        display: flex;
    }
    
    .bolhas .anumation-bolhas {
        width: 30px;
        height: 30px;
        background-color: #77ff00;
        margin: 20px 4px 0px 4px;
        border-radius: 50%;
        box-shadow: 0 0 0 10px #e5ff0044,
        0 0 50px #77ff00,
        0 0 100px #77ff00
        ;
        animation: animar calc(150s / var(--i)) linear infinite;
    }
    
    .bolhas .anumation-bolhas:nth-of-type(even) {
        background-color: #2dc3ff;
        box-shadow: 0 0 0 10px #2dc3ff44,
        0 0 50px #2dc3ff,
        0 0 100px #2dc3ff
        ;
    }
    
    .card-interativo {
        background-color: rgba(0, 0, 0, 0.224);
        padding: 15px;
    }
    
    .nome-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .cargo-do-dev {
        text-align: center;
        font-weight: 300;
    }
    
    .idade-do-dev {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
    .img-foto {
        width: 50%;
        height: 280px;
        margin: auto;
        text-align: center;
        background-color: rgba(127, 255, 212, 0.493);
        float: left;
         
    }
    
    .foto-do-sobre-min {
        width: 100px;
        border-radius: 5px;
        margin-top: 25px;
    }
    
    .card-img {
        display: inline-block;
        width: 100px;
        margin: auto;
    }
    
    .card-infomacao {
        width: 50%;
        height: 280px;
        margin: auto;
        background-color: transparent;
        background-color: rgba(245, 245, 220, 0.491);
        margin-bottom: 0;
        padding: 0px 0px;
        float: right;
    }
    
    .um-pouco-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .continua-sobre-min {
        padding-top: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .container2 {
        width: 500px;
    }

    .paragrafo-sobre-tec {
        text-align: center;
    }

    .container-tecnologias {
        width: 500px;
        margin: auto;
        margin-top: 40px;
        gap: 40px;
    }

    .minha-tec {
        font-size: 24px;
    }

    .paragrafo-sobre-tec {
        font-size: 16px;
    }

    .icon-tec {
        width: 40px;
        height: 40px;
    }

    #container3 {
        width: 100vw;
        height: 100vh;
    }

    .cont-itens {
        position: relative;
        width: 200px;
        height: 250px;
    }

    .cont-img-capa {
        width: 197px;
        height: 100px;
    }

    .text-title-card {
        font-size: 18px;
    }

    .text-font {
        font-size: 12px;
        padding-top: 5px;
    }

    .tecnologias-usadas {
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-60%);
        text-align: center;
        font-size: 12px;
        padding-top: 7px;

    }

    a {
        font-size: 12px;
    }

    .icon-live-preview {
        position: absolute;
        left: 10px;
        bottom: 8px;
    }

    .icon-live-code {
        position: absolute;
        right: 10px;
        bottom: 8px;
    }

    .icon-live-preview::before {
        content: url("../assets/icon-github-fill-dark.svg");
    }

    .icon-live-code::before {
        content: url(../assets/icon-link-dark.svg);
        position: absolute;
        bottom: 0;
        left: -10px;
    }

    .cont-img-capa2 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa3 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa4 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa5 {
        width: 197px;
        height: 100px;
    }
    
    .cont-img-capa6 {
        width: 197px;
        height: 100px;
    }

}
